@model WebApplicationBE.Models.Product

<head>
    <style>
        img {
            height: 250px;
            max-width: 250px;
        }
    </style>
</head>
<div>

    <dl class="dl-horizontal bg-info">
        <!--<dt>-->
            @*@Html.DisplayNameFor(model => model.ProductImage)*@
            <!--Product image
        </dt>-->
        <dd>
            @*@Html.DisplayFor(model => model.ProductImage)*@
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            Product name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ProductDecription)*@
            Product description
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.ProductDecription)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ProductPrice)*@
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@
            Category name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>


</div>
